a.tag,
.tags a {
  background-color: #eaf5f6;
  border-radius: 888px;
  color: $link-secondary-color;
  display: inline-block;
  font-family: $font-droid-sans, $font-trebuchet-ms, sans-serif;
  font-size: 11.5px;
  line-height: 16px;
  margin: 0 2px 4px 0;
  padding: 2px 8px;

  &:hover,
  &:focus,
  &.active {
    background-color: #c6e4e7;
    color: #185571;
  }

  &:visited {
    color: #185571;
  }
}

a.tag-lg {
  font-size: 22px;
  padding: 5px 12px;
}

a.tag-md {
  font-size: 18px;
  padding: 4px 10px;
}

a.tag-sm {
  font-size: 12.5px;
}

a.tag-xl {
  font-size: 28px;
  padding: 7px 15px;
}

.tag-highlight {
  background-color: #d8edee;
}